<!DOCTYPE html>
<html>
<head>

  <script src="https://use.fontawesome.com/36e8a382f6.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arimo|Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <title> {{page.title}}</title>
</head>
<body>
  <section class="top-banner">
    <header class"grid-spaceBetween">
      <img class="col-4" src="Images/Logo_Julia.png">
      <nav class="col-4">
        <a href="/About-Me">About me</a>
        <a href="/Skills">Skills</a>
        <a href="/Experience">Experience</a>
        <a href="/Contact">Contact</a>
      </nav>
    </header>
    <div class="title">
      <h1>Julia Lipold</h1>
      <h2>upcoming Digital Nomad</h2>
      <div>homebase: Vienna</div>
    </div>
  </section>

{{content}}

  <footer>
    <h2>Get in touch</h2>
    <form method="POST" action="http://formspree.io/julia.lipold@hotmail.com">
      <label for="name">Name</label>
      <input type="name" name="name" placeholder="Your name">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Your email">
      <label for="message">Message</label>
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
    <div class"social-bar">
      <p><a href="https://www.instagram.com/thebackpackway/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
      <p><a href="https://www.instagram.com/thebackpackway/"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
      <p><a href="https://www.instagram.com/thebackpackway/"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
    </div>
  </footer>
</body>


</html>
